[2014-10-24 20:18] antevens opened #2 "Undefined method "provider" on Centos 6.5"
==> sdecentos65: Error: Could not autoload puppet/provider/kernel_parameter/grub2: undefined method `provider' for nil:NilClass
==> sdecentos65: Error: Could not autoload puppet/type/kernel_parameter: Could not autoload puppet/provider/kernel_parameter/grub2: undefined method`provider' for nil:NilClass
==> sdecentos65: Error: Could not autoload puppet/type/kernel_parameter: Could not autoload pupp

[2014-10-27 14:31] #2 closed, assigned to nobody

[2015-05-28 15:42] w3ttr3y opened #4 "grub.cfg isn't being properly updated on EFI systems running CentOS 7"
grub.cfg isn't being properly updated on EFI systems running CentOS 7

It works as expected on servers with a traditional BIOS, but when run on an EFI system, grub active configuration doesn't get updated.

Looking into the issue a bit, line 111 of lib/puppet/provider/kernel_parameter/grub2.rb says:

[code]

The problem is the system does have a /boot/grub2/grub.cfg file, but the file actively bei

[2015-06-11 23:29] earsdown opened #5 "How to set an md5 password?"
How would I set a password in grub.conf using this module? Tried this without luck (note that /root/grubtest.conf is a copy of /etc/grub.conf):

[code]

[2015-06-12 09:01] raphink commented on #5
This is currently not supported. It would require a new type property, `flags` maybe, so you could write:

[code]

[2015-06-12 09:07] raphink commented on #4
I don't think copying this file in this resource type is a proper solution.

How about managing a file resource for your need?

[code]

[2015-07-08 14:12] bastelfreak opened #6 "Fails on CentOS 6"
Hi,

I've got the following manifest:
[code]

This is working fine on many nodes, but on two I get the following issue on an agent run:
[code]

Package Versions:
[code]

Do you have any thoughts?

[2015-07-08 14:14] domcleal commented on #6
The error's stating that Augeas can't parse /boot/grub/menu.lst due to something on, or around line 19.  It's either a bug in Augeas, or at least that version of it, or some invalid syntax in the file.

[2015-07-30 15:20] tlimoncelli opened #7 "Wrong provider selected in Centos7"
Centos7 should always pick grub2 (AFAICT).  However some of our centos7 machines output this message and select grub instead.  As a result, the change doesn't get made.

[code]

As a temporary measure, I'd like to know if there is a way to force is to select grub2.

As a long-term solution, I have no idea how to start debugging this.  What information can I provide to help narrow this down?

[2015-07-30 19:40] tlimoncelli commented on #7
FYI:  The workaround I'm using is this:

[code]

[2015-08-18 19:00] BenoitLefebvre commented on #7
I was having the same error but when trying your fix with the provider, I am getting this message:

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Invalid parameter provider on Kernel_parameter[audit] at /etc/puppet/environments/benoit/modules/cn/manifests/grub.pp:35 on node puppet-test1.domain
Warning: Not using cache on failed catalog
Error: Could not retrieve catalog

[2015-09-02 20:28] haghabozorgi commented on #7
@tlimoncelli  I tried that and it does not work for me. I still get the same warning
Warning: Found multiple default providers for kernel_parameter: grub2, grub; using grub2

[2015-09-02 21:18] tlimoncelli commented on #7
With the workaround I still get the warning too. However Puppet does the right thing.  We still need a real fix.

[2015-09-03 13:51] trevor-vaughan opened #10 "Requesting support for grub 'module' statements"
First, thanks for providing this module, it has been quite useful.

We're pushing forward with using trusted boot in grub and now find ourselves in need of the 'module' portion of the grub configuration.

An example of this usage can be found at https://fedoraproject.org/wiki/Features/Trusted_Boot.

As far as I can tell, the kernel line detection needs to go from just a kernel line to a kernel lin

[2015-09-08 16:54] raphink commented on #10
@trevor-vaughan what kind of Puppet code would you expect to write, and what kind of changes should that produce (ideally in the Augeas tree)?

[2015-09-08 17:22] trevor-vaughan commented on #10
That's a really good question.

I suppose that I would really like management of the 80% of the grub.conf stack since right now it's either use the 'kernel_parameter' type or just hack something together by hand.

## Globals
* default
* timeout
* password
* fallback

Perhaps these could be a grub_config type?

<pre>
grub_config { 'default':  value => 0 }
grub_config { 'timeout': value => 10 }
grub

[2015-09-09 06:33] raphink commented on #10
So a new type altogether. Your examples only mention Grub 1 configuration. How would this map to Grub 2 (which I personally wish never existed ;-))?

[2015-09-09 11:41] trevor-vaughan commented on #10
Unfortunately, it wouldn't map to grub2.

This actually *should* be easier since you only need to mess about with /etc/default/grub.

There are, however, a stupid number of options that appear to be able to go into that file. And, of course, there is the 40_custom rule set.

This applies to RHEL-based systems, I'm not sure about the others. That may be the true issue.

And, of course, you'll have

[2015-10-26 16:16] trevor-vaughan opened #11 "Grub2 does not add the /files/etc/default/grub/GRUB_CMDLINE_LINUX_DEFAULT path if it is missing"
Attempted to apply the following with Puppet:

[code]

Received the following error:

[code]

This appears to be because GRUB_CMDLINE_LINUX_DEFAULT is not present in /etc/default/grub by default and should be created by Augeas if it is not present in the file.

Ideally, it would default to whatever GRUB_CMDLINE_LINUX has in it at the time of creation.

[2015-10-26 17:15] raphink commented on #11
Good catch it seems. Could you try to provide tests for this?

[2015-10-27 03:22] lkthomas opened #12 "undefined method `provider' for nil:NilClass"
2015-10-27T11:20:17.497732+08:00 mocha puppet-agent[9827]: Could not autoload puppet/provider/kernel_parameter/grub: undefined method `provider' for nil:NilClass
2015-10-27T11:20:17.497904+08:00 mocha puppet-agent[9827]: Could not autoload puppet/type/kernel_parameter: Could not autoload puppet/provider/kernel_parameter/grub: undefined method `provider' for nil:NilClass
2015-10-27T11:20:17.497999+

[2015-10-27 13:20] raphink commented on #12
Did you install the augeas providers_core module?

[2015-10-27 18:19] BenoitLefebvre commented on #7
This issue was fixed since @vinzent committed this change: https://github.com/hercules-team/augeasproviders_grub/commit/86ad46f50ac825a3741b6060f47420c4c65e1bd4

I suggest the augeasproviders_grub module version to be updated to 2.0.2 in the metadata.json file and this issue to be closed

[2015-10-27 18:49] trevor-vaughan commented on #11
Here you go: https://github.com/trevor-vaughan/grub_test

bundle
rake acceptance

[2015-10-27 23:13] raphink commented on #7
Ah, so this is fixed in master but not released, correct?

[2015-10-28 02:42] lkthomas commented on #12
that's it, thanks a lot.

[2015-10-28 02:42] #12 closed

[2015-10-28 02:43] lkthomas opened #13 "wrong version of grub detection on Ubuntu Trusty"
puppet-agent[19114]: Found multiple default providers for kernel_parameter: grub, grub2; using grub

grub-install --version
grub-install (GRUB) 2.02~beta2-9ubuntu1.3

lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.3 LTS
Release:	14.04
Codename:	trusty

how come it's using grub1 instead of grub2 ?!

[2015-10-28 15:11] raphink commented on #13
Because the grub2 provider is not marked as default for this os.

[2015-10-28 15:12] lkthomas commented on #13
any way to enforce grub2 as default?

[2015-10-28 15:13] raphink commented on #11
OK. I would have preferred a PR adding a test to this module instead of external code.

[2015-10-28 15:14] raphink commented on #13
You can always pass a `provider ` attribute to the resource in DSL. A PR against the provider would be welcome, too.

[2015-10-28 15:14] lkthomas commented on #13
Any example?

[2015-10-28 15:23] trevor-vaughan commented on #11
Fair enough.

Are you OK with the approach that I used in that link? I can port it in, just not for a few days.

[2015-10-28 20:46] raphink commented on #11
Take your time. I'm afk for another 10 days, can't really thoroughly review from my phone.

[2015-10-28 20:47] raphink commented on #13
`provided => grub2` in the resource declaration.

[2015-11-13 13:12] beddari commented on #7
Yup, correct :+1:

[2015-11-17 14:08] raphink commented on #7
OK then I'll release now.

[2015-11-17 14:08] #7 closed

[2015-12-01 19:44] paulraines68 commented on #4
/boot/grub2/grub.cfg does not exist on my CentOS 7 system using EFI.  So running puppet would give me an error on my kernel_parametering complaining no grub.cfg existed.

So I fixed this by simplying adding "/boot/efi/EFI/centos/grub.cfg" to the list grub2.rb

[2015-12-02 08:52] raphink commented on #4
OK. Feel free to provide a PR for that.

[2015-12-02 18:56] paulraines68 commented on #4
I notice though that /etc/grub2-efi.cfg is a symlink to ../boot/efi/EFI/centos/grub.cfg so it would be a more general option to put in the list assuming you don't anticipate any way the code would not work with symlinks by, for example, doing 'rm' on the given file path before writing out a new file?

[2015-12-03 07:43] raphink commented on #4
I think symlinks should work imo.

[2015-12-03 15:44] paulraines68 commented on #4
I note on non-EFI CentOS 7 systems, it is /etc/grub2.cfg that exists and is
a symlink to /boot/grub2/grub.cfg

I have no idea why the grub2 packages for RHEL/CentOS felt it was necessary
to have the link be named grub-efi.cfg on EFI systems.

I see in the new-kernel-pkg script that it does a readlink on both possible
names to find which one to use.

On Thu, Dec 3, 2015 at 2:43 AM, Raphaël Pinson <

[2016-01-12 16:15] trevor-vaughan opened #15 "Autorequires does not function with the default system targets"
Since autorequires is executed when compiling the catalog, the default autorequires will not perform properly on the executing client.

This appears to affect many of the augeasproviders components.

Not sure of the correct way to fix this since it may cause duplicated code and/or mixed compile/execution scopes.

[2016-01-27 15:27] tzz commented on #7
@vinzent @BenoitLefebvre @raphink please note that Fedora 23 also has this issue.

Simply using `defaultfor :osfamily => 'Redhat', :operatingsystemrelease => 'Fedora', :operatingsystemmajrelease => [ '23' ]` doesn't seem to work so I hope you know the right incantation... thanks!

[2016-02-18 10:01] raphink commented on #13
Fixed in #17

[2016-02-18 10:01] #13 closed

[2016-02-18 13:50] raphink commented on #15
Can you give an example of the issue?

[2016-02-18 13:52] #11 closed

[2016-03-02 22:05] #10 closed

[2016-03-31 14:29] vide opened #20 "Hard dependency on grub2-tools on CentOS7 missing"
Hi

it seems that by default grub2-tools is not installed on CentOS7 (it comes with grubby), but the `kernel_parameter` provider (and probably all the other ones too) needs `grub2-mkconfig` to properly update Grub2 config, nad it comes with the `grub2-tools` package. So, what's your opinion on this issue? If you are ok with creating manifests to ensure that the package is there in all the supporte

[2016-03-31 15:01] trevor-vaughan commented on #20
@vide I don't think that the modules should manage the package since this is very site dependent and will likely conflict with existing resources in someone's environment.

It *could* be baked into one of the providers to manage if not present but it gets difficult to correctly test on all OSs and it a little bit of spooky action at a distance (catalog resource injection).

The providers *should*

[2016-03-31 15:51] vide commented on #20
@trevor-vaughan yeah, I think you're right. I didn't know that all these `augeasproviders_*` existed, and it makes perfectly sense to leave package dependencies outside them. But it should mentioned in the README, as you say.

[2016-04-01 08:12] raphink commented on #20
I'll happily take a PR on either the README or a confinement on the command in the providers, but like @trevor-vaughan I don't think a manifest to ensure the tools' installation belongs in this module.

[2016-04-08 10:39] bastelfreak commented on #6
ah, just found that again. indeed it was an error in the menu.lst.

[2016-04-08 10:39] #6 closed

[2016-04-14 09:28] bastelfreak opened #22 "Unable to set/determine correct provider on Arch Linux"
Hi,

I'm currently running Puppet3.8.6 on Arch Linux, my current code:
[code]

This results in the following warning:
[code]

* Can't I set the provider I want to have? It seems to ignore my provider setting
* What needs to be done that the module uses grub2 as the default provider?

I can contribute patches to support Arch Linux, but I'm very new to types + providers.

[2016-05-03 15:53] bastelfreak commented on #22
thanks, this got fixed by merging PR#2

[2016-05-03 15:53] #22 closed

[2016-06-14 14:36] Raskil commented on #5
Hi,

I tried setting the password directly in augeas. I've successfully configured grub.conf with password in my linux. The grub.conf part looks like this:

[code]

the augeas lens represents it this way:

[code]

I've tried to set it like this:

[code]

But that doesn't seem to work:

[code]

Is setting the grub password not supported by the lens?

Regards

Raskil

[2016-06-14 16:55] raphink commented on #5
@Raskil there's several issues:

* you're setting `password` at the top level of the file, when it should be in a title entry
* you need to set the `encrypted` subnode as well

e.g.:

[code]

[2016-06-15 07:51] Raskil commented on #5
@raphink
Thank you for your answer. Unfortuaently your example didn't work on my box, but it pointed me in the right direction. What I came up with to get it working is the following:

´´´
augtool> ins /files/etc/grub.conf/password after /files/etc/grub.conf/timeout
augtool> clear /files/etc/grub.conf/password/encrypted
augtool> set /files/etc/grub.conf/password "test"
augtool> save
Saved 1 file(s

[2016-06-15 08:02] raphink commented on #5
Yes this works @Raskil, but it won't be able to change the password if the value is wrong. Hence the need for a new parameter in the type ideally.

[2016-06-15 08:16] Raskil commented on #5
@raphink
Thanks for the heads up, I didn't noticed that. But I've come up with a workaround for that (might not be the prettiest one:

[code]

So in essence, I just do an augeas match to see if the password matches my current pw value. If not I remove it before setting it again. Works like if you work with already encrypted values for the pw.

regards

Raskil

[2016-08-23 02:16] w3ttr3y opened #23 "Modify GRUB_CMDLINE_LINUX AND GRUB_CMDLINE_LINUX_DEFAULT"
If I want to clear a setting (e.g. selinux=0), then I can clear it from GRUB_CMDLINE_LINUX or GRUB_CMDLINE_LINUX_DEFAULT but not both:

Clears GRUB_CMDLINE_LINUX but not GRUB_CMDLINE_LINUX_DEFAULT
[code]

Also clears GRUB_CMDLINE_LINUX but not GRUB_CMDLINE_LINUX_DEFAULT
[code]

While this will clear GRUB_CMDLINE_LINUX_DEFAULT
[code]

You can't combine it with either of the above:
Error: Could not

[2016-08-23 08:51] raphink commented on #23
It seems like what you want is to manage the same kernel parameter in different boot modes.

What is missing for that is to make `bootmode` a namevar of the type, and set up composite namevar for it.

[2016-09-16 23:05] acraw1 opened #24 "Issue w/Puppet 2016.x"
The below puppet code worked fine on puppet 3.8, but it fails on puppet 2016.x.  The error message produced is also shown below.  I tried setting the timeout value with and without quotes, but I get the same error either way.

[code]

[code]

[2016-09-17 16:19] trevor-vaughan commented on #24
@acraw1 Thanks for the report. We'll take a look at this and get back to you.

[2017-02-25 02:56] genebean opened #26 "Support for Puppet 4"
I see that in master the metadata.json says it supports Puppet 4 but the latest release does not... how is the Puppet 4 support coming along?

[2017-02-25 11:40] raphink commented on #26
I don't see a reason why it wouldn't work on Puppet 4. Are you seeing a specific failure?

[2017-02-25 16:46] genebean commented on #26
Before switching from the latest release to master I did. Was hoping that if the Puppet 4 stuff was stable you'd release a new version so I could get off of the git version. Thanks for the quick reply!

[2017-02-26 19:55] raphink commented on #26
There's no changes in types & providers API in Puppet 4. Most of the changes are in the Puppet DSL, so really types & providers for Puppet 3 should just work in Puppet 4 without changes. As far as I know, they just work.

[2017-02-26 21:14] trevor-vaughan commented on #26
So far all of the ones that we're using "just work" with Puppet 4 AIO and PE

[2017-02-27 04:48] genebean commented on #26
The one that broke for me before switching to master was kernel_parameter. It broke the ability to run the agent. The issue disappeared when switching to master.

[2017-04-19 18:11] lapfrank opened #27 "EFI support for all oses, not only fedora"
Hi,

Small change request. Issue #16 fixed the EFI support issue for Fedora, but not for every other system. Is there any way to fix the grub2.rb file line 151:

`["/boot/grub/grub.cfg", "/boot/grub2/grub.cfg", "/boot/efi/EFI/fedora/grub.cfg"].each {|c|`

to either use the `"operatingsystem" `variable instead of `"fedora"` or add other OSes to the list like RedHat and CentOS?

Thanks,

[2017-06-13 19:57] nmesstorff commented on #26
Same here after changing `stringify_facts = false` in the puppet.conf on the agent (as suggested by puppetlabs as preparation to puppet 4 migration).

Error message on the puppet node:
`Error: /Stage[main]/Main/Node[default]/Kernel_parameter[console]: Could not evaluate: Augeas didn't load /etc/default/grub with Shellvars_list.lns: Iterated lens matched less than it should (line:8, character:0)`

[2017-06-13 20:53] raphink commented on #26
@nmesstorff I'm not sure I see how `stringify_facts = false` could play a role in this really. The error you're reporting says that Augeas was not able to parse the file at `/etc/default/grub` and failed to parse on line 8.

Could you paste that file (or at least line 8) please?

[2017-08-15 20:10] trevor-vaughan commented on #27
@raphink Yeah, PR forthcoming.

[2017-08-21 18:15] trevor-vaughan commented on #27
@lapfrank Mind doing a code review on #28 to make sure it solves your issue sufficiently?

[2017-08-29 21:54] #27 closed

[2017-10-05 21:41] cohdjn commented on #4
I'd like to bump this issue.  I just installed on RHEL 7 and I have the same problem.  Only difference is that the active grub.cfg is /boot/efi/EFI/redhat/grub.cfg.

[2017-10-09 11:44] a-dekker opened #30 "Puppetrun failures when default 01_users is in place"

[2018-02-16 10:53] enemarke opened #31 "setting grub user absent does not remove user."
fx
`grub_user { 'test_user':  ensure    => absent,} `
does not remove test_user if it was previous created.

[2018-05-15 12:01] wiad commented on #30
Setting superuser with augeasproviders_grub does not work for me either, probably since the before mentioned update of grub2-tools in RHEL.  I don't get any warnings though, but edit access to the grub menu is open for anyone even though i configured 'superuser' with grub_user.

This is the content of /etc/grub.d/01_users:
[code]
So the 'set superusers' is only set if the ${prefix}/user.cfg file e

[2018-05-16 13:58] #20 closed

[2018-05-16 13:58] trevor-vaughan commented on #20
Closed the issue based on general consensus.

[2018-05-16 14:09] trevor-vaughan commented on #30
@wiad Is this still the case with the latest 3.0.1 release? A new file, `/etc/grub.d/02_puppet_managed_users` should now be created that takes precedence over the system defaults.

[2018-05-16 17:12] wiad commented on #30
hm, I tried it with the latest release from puppet forge (i.e. 'puppet module install'), not sure what version that was. I will check it out.

[2018-05-31 09:44] ggeldenhuis opened #33 "Documentation should be more specific about actions taken"
It is not 100% clear from the documentation whether the provider also actually runds grub2-mkconfig after setting/changing settings. It could be argued that it is obvious but for the sake of clarity it would be useful if the documentation could specifically say that grub2-mkconfig is run after setting a value. I looked through the code and that is indeed what happens. I am happy to do a tiny PR fo

[2018-05-31 19:19] csschwe commented on #5
This grub_config works if you code it like this.
[code]

[2018-06-05 08:40] ggeldenhuis opened #34 "More informative error message for missing dependency"
I made a silly mistake of doing puppet module install on a test box and then when I were setting up my r10k not adding the auto installed dependencies. This then causes an error message on this [line](https://github.com/hercules-team/augeasproviders_grub/blob/e773a9a02d2a8d0cdecee658ba9b58d346f0b3bb/lib/puppet/provider/grub_config/grub2.rb#L7)

The error message is not super obvious and to make it

[2018-06-21 20:19] apuks opened #35 "grub.cfg not updated if superuser line is deleted but not the password line."
ver 3.0.1
grub_user{'adminuser':
  password => "${passwd}",
  superuser => true,
}

Admin deleted "set superusers" line from /boot/grub2/grub.cfg and /etc/grub.d/02_puppet_managed_users but not the password_pdkdf2 lines

Puppet never updates either file after this.

Deleting the password_pdkdf2 fixes the issue

[2018-08-23 11:50] a-dekker commented on #30
Having noticed that superusers has not been set on multiple servers (although defined), I upgraded to version 3.0.1 to see how things worked out.

The absence of superusers was still an issue. It did no longer give me puppetrun failures when /etc/grub.d/01_users was present, so I also created a user.cfg with dummy password as @wiad   suggested.
This way superusers was added via /boot/grub2/grub.cf

[2018-08-23 11:52] a-dekker commented on #35
I also noticed that the content of 02_puppet_managed_users is not (puppet) managed as expected.

[2018-08-24 14:56] trevor-vaughan opened #37 "The grub2 system should update both the EFI and non-EFI configurations when triggered"
This was an oversight in my original implementation but systems that can booth either EFI or legacy will potentially switch between the two at will.

This means that both configuration paths need to be updated.

At this point, I'm thinking that it may be best to update *all* non-symlink copies of target grub configuration files on the system so that random changes don't surprise us in the future b

[2018-08-24 15:25] trevor-vaughan commented on #37
@m-morrone The issue is that users can randomly select their boot mode. So even if you're in EFI mode, you might decide to use Legacy mode at next boot and end up not applying your expected settings.

[2018-08-29 04:02] sandynomad opened #38 "Absent GRUB_CMDLINE_LINUX_DEFAULT can result in duplicated kernel parameters."
When using grub2 the initial state in /etc/default/grub includes:

  GRUB_CMDLINE_LINUX populated
  GRUB_CMDLINE_LINUX_DEFAULT absent

Used:

    kernel_parameter { "pci=nomsi,noaer":
        ensure   => present,
        bootmode => "normal",
    }

results in GRUB_CMDLINE_LINUX_DEFAULT being copied from GRUB_CMDLINE_LINUX and then massaged by the lens.

The resultant kernel boot line includes dup

[2018-08-31 11:07] raphink commented on #38
@trevor-vaughan I see you code that part in https://github.com/hercules-team/augeasproviders_grub/blob/master/lib/puppet/provider/kernel_parameter/grub2.rb#L88-L108, what's your take on it?

[2018-08-31 17:07] trevor-vaughan commented on #38
Interesting. This may be a RHEL quirk that I ended up testing around. @sandynomad What OS are you working against?

[2018-09-01 06:54] sandynomad commented on #38
The behaviour reported was on CentOS 7.5.

[2018-10-03 11:48] raphink commented on #5
I'm guessing this issue can be closed given the recent comments.

[2018-10-18 14:17] raphink commented on #38
@trevor-vaughan 	were you able to reproduce?

[2018-10-22 18:41] linuxdan opened #39 "How does one handle kernel parameter changes that call for grub2-mkconfig and reboot ?"
Example:  (RHEL 7)

kernel_parameter{'ipv6.disable':
  ensure => absent,
}

[2018-10-22 18:47] trevor-vaughan commented on #39
I do it this way https://github.com/simp/pupmod-simp-fips/blob/master/manifests/init.pp#L54

Using https://github.com/simp/pupmod-simp-simplib/blob/master/lib/puppet/type/reboot_notify.rb

[2018-10-22 19:48] raphink commented on #39
@trevor-vaughan does this use `/var/lib/reboot-required` on OSes that support it?

[2018-10-22 19:50] trevor-vaughan commented on #39
@raphink Honestly, I didn't even know that was a thing! But now that I do, it probably should. In this case, I wanted to be able to give useful metadata to the user about *why* the reboot was required and be able to have multiple reasons based on different parts of code.

[2018-10-22 20:09] trevor-vaughan commented on #39
@raphink Do you know of a way of definitively detecting if an OS supports that file? It seems like it's a Debian-ish thing. I could always just drop the file in place no matter what but that seems...weird.

[2018-10-22 21:53] linuxdan commented on #39
@trevor-vaughan
Does your code actually cause a reboot or just create a notification?

[2018-10-22 23:54] linuxdan commented on #39
@raphink
/var/lib/reboot-required looks like a Debian thing.
Even so, I can find no guidance about using it.
Most of the Red Hat/CentOS search results refer to yum’s `needs-restarting`, but this operation does not use yum.

[2018-11-02 15:52] linuxdan opened #40 "Questions about kernel_parameter and grub_user providers"
Is is necessary to run `grub2-mkconfig` or does the provider perform this action or its equivalent ?

Also, it would be nice to have all the parameters listed and explained.

[2018-11-02 15:56] raphink commented on #40
Not sure about the first question, maybe @trevor-vaughan knows more about that.

As for parameters and their descriptions, you can run `puppet describe <type>` or refer to the forge page at https://forge.puppet.com/herculesteam/augeasproviders_grub/types

[2018-11-02 16:03] linuxdan commented on #40
OK, thanks for that pointer.
Found another (bug|undocumented feature) :

If I set grub_user "ensure" to absent, it leaves the password lines behind.
I am going to try adding "purge => true," and see what happens

[2018-11-02 16:07] linuxdan commented on #40
adding "purge => true," cleared the garbage :D

[2018-11-02 21:56] linuxdan commented on #40
By trial and error, I found that running `grub2-mkconfig` is unnecessary and I also figured out how to use https://forge.puppet.com/puppetlabs/reboot properly !

I will have to give it a try on #39 and see what I can figure out

[2018-11-02 21:56] #40 closed

[2018-11-13 16:05] ztnewman opened #41 "Kernel_parameter subscribe executes on every run"
I am currently using augeasproviders_grub version 3.0.1 with Puppet master version 2018.1.2 and agent version 5.5.3.

I have a notify resource that subscribes to a kernel_parameter resource as below:
[code]

The notify occurs every time that puppet runs instead of whenever there is a change to the kernel_parameter. Is that intentional?

[2019-03-19 21:55] Srisrija commented on #4
Hi,

We have the same issue on RHEL-7. But we are assuming its using  /boot/efi/EFI/redhat/grub.cfg but when the server reboots it couldn't find the kernel and disk to load. We have to give manually at grub loader. I assumed its looking the files in /boot/grub2/grub.cfg so created a symbolic link there and tried. But still same issue.

[2019-04-04 12:36] raphink commented on #4
That's surprising. 5e2d464c introduced the support for EFI config files. @trevor-vaughan what do you think?

[2019-04-04 12:43] trevor-vaughan commented on #4
@raphink Well, the code certainly looks like it should be doing the right thing.

@Srisrija Can you let us know if running `grub2-mkconfig -o /boot/efi/EFI/redhat/grub.cfg` produces any errors? I haven't seen any issues when running the commands on a clean system so far.

Also, have you modified your grub2 scripts by hand in any way? It's notoriously difficult to auto-test EFI settings.

[2019-04-19 19:55] jeannegreulich commented on #30
There is still a problem with this.  Using version 3.1.0 with a system that has 01_users in place, if grub_user is used to build a new user say 'admin', root will no longer be part of the superuser.  It creates a new line and does not add root (probably because it exists in the line from 01_users).  Even if root is also added with grub_user, it never adds root to the correct superuser line.  It ap

[2019-04-19 20:05] trevor-vaughan commented on #30
@jeannegreulich I think you may have hit on the key there that all of the users have to end up on the `superuser` line.

I can't find any documentation on this so I don't know if you can even have more than one (even though the word is plural).

Also, there is guidance that `root` should not be used as the superuser identity in various security guides so we can't just drop it in there by default.

[2019-06-03 11:33] tisauro opened #43 "New menu entry Ubuntu 16.04"
Hi,

I am trying to create a new menu entry in Ubuntu 16.04 using the sample provided

[code]

however when I apply it to my node I get the error

[code]

is there anything I missing?

many thanks in advance
Kind regards,
Mauro

[2019-07-10 08:42] raphink commented on #43
The `grub_menuentry` type requires either `grub` or `grubby` commands. It seems recent Ubuntu versions don't have them. @trevor-vaughan do you know what needs to be used instead?

[2019-07-10 15:49] trevor-vaughan commented on #43
@raphink Yep, someone needs to go write a parser for all of GRUB2 that does what `grubby` does in terms of information retrieval. I don't Ubuntu so, until EL drops `grubby`, totally not volunteering for this one.

Basically, just run `grubby --info DEFAULT` (and for individual kernels) and find a way to get all of that info.

[2019-07-11 07:39] raphink commented on #43
Ack. I use Ubuntu but I don't manage grub stuff with Puppet. Ubuntu doesn't have `grubby` so I can't check the output. Bottom line so far, we'd welcome a PR to fix that in a proper way in Debian-based OSes @tisauro

[2019-07-11 19:40] trevor-vaughan commented on #43
As a quick check to see if there was some reason that `grubby` wasn't available for Ubuntu, I spun up a 1604 system, snagged the repo from https://github.com/rhboot/grubby, built it and it worked just fine.

Honestly, I'd recommend that someone ask Ubuntu to include it instead of trying to reinvent the wheel.

[2019-07-29 22:05] tparkercbn opened #44 "grub_config values with spaces cause augeas errors"
grub_config values with spaces cause augeus errors:

        grub_config {'GRUB_TERMINAL':
            value   => join($boot::grub_terminals, ' '),
            notify  => Exec['update-grub-config'],
        }

        grub_config {'GRUB_SERIAL_COMMAND':
            value   => "serial --unit=0 --speed=${boot::serialconsole}",
            notify  => Exec['update-grub-config'],
        }

Notice: /St

[2019-07-29 22:06] tparkercbn opened #45 "grub_config value true causes puppet-lint or augeus errors"
grub_config {'GRUB_DISABLE_OS_PROBER':
        value   => true,
    }

Error: /Stage[main]/Boot::Grub2/Grub_config[GRUB_DISABLE_OS_PROBER]/ensure: change from 'absent' to 'present' failed: Could not set 'present' on ensure: no implicit conversion of true into String (file: /etc/puppetlabs/code/environments/production/modules/boot/manifests/grub2.pp, line: 32)

[2019-07-29 22:12] trevor-vaughan commented on #45
@tparkercbn Can you please test this directly with `augtool` to help pinpoint whether it is a lens issue or a provider issue?

[2019-07-29 22:12] trevor-vaughan commented on #44
@tparkercbn Can you please test this directly with `augtool` to help pinpoint whether it is a lens issue or a provider issue?

[2019-07-29 22:15] tparkercbn commented on #45
Seems to be a provider issue.  augtool doesn't care at all about the quotes.  I think the issue is exactly what it says.  There is no implicit conversion from Boolean true to String 'true',  See augtool test below.

augtool> set etc/default/grub/GRUB_DISABLE_OS_PROBER true
augtool> save
Saved 1 file(s)
augtool> quit
[LIVE] mgaweb1 [k: mgaweb1]:~ # cat /etc/default/grub
GRUB_TIMEOUT=5
GRUB_DEFAULT=

[2019-07-29 22:16] trevor-vaughan commented on #45
Thanks, that's quite helpful! Looks like we might have to cast everything to a `String` for the provider.

[2019-07-29 22:19] tparkercbn commented on #44
augtool fails with "" but works with ''

augtool> set etc/default/grub/GRUB_TERMINAL "console serial"
augtool> save
error: Failed to execute command
saving failed (run 'errors' for details)

augtool> set etc/default/grub/GRUB_TERMINAL 'console serial'
augtool> save

[2019-07-29 22:21] trevor-vaughan commented on #44
Interesting (and unexpected). If you add single quotes inside your double quotes around the `value` parameters in your resource declarations does that work or is it invalid?

[2019-07-29 22:23] tparkercbn commented on #44
Sorry. I deleted the prevous comment as I realized that it was still in an error state so the quotes change were not actually helping.  I added a set of \" \" to my value and that works.

My working config is this:

        grub_config {'GRUB_TERMINAL':
            value   => "\"${join($boot::grub_terminals, ' ')}\"",
            notify  => Exec['update-grub-config'],
        }

        grub_confi

[2019-07-29 22:25] tparkercbn commented on #44
augtool> get etc/default/grub/GRUB_TERMINAL
etc/default/grub/GRUB_TERMINAL = "console serial"
augtool> set etc/default/grub/GRUB_TERMINAL '"console serial foo"'
augtool> save
Saved 1 file(s)
augtool> set etc/default/grub/GRUB_TERMINAL '"console serial"'
augtool> save
Saved 1 file(s)
augtool>

[2019-07-29 22:29] trevor-vaughan commented on #44
OK, should be easy enough to fix.

[2019-07-29 22:31] trevor-vaughan commented on #44
Everything looks OK in your `/etc/default/grub` file after adding the quotes, right?

[2019-07-29 22:33] tparkercbn commented on #44
yes.  The values are double quoted as expected:

Notice: /Stage[main]/Boot::Grub2/Grub_config[GRUB_TERMINAL]/value: value changed '"console serial foo"' to '"console serial"'

cat /etc/default/grub
GRUB_TIMEOUT=5
GRUB_DEFAULT=saved
GRUB_DISABLE_SUBMENU=true
GRUB_CMDLINE_LINUX="root=/dev/vdb console=tty1 console=ttyS0,115200n8 rd.net.timeout.dhcp=2 biosdevname=0 net.ifnames=0"
GRUB_DISABLE_RECOVERY

[2019-07-29 22:37] trevor-vaughan commented on #44
Rolling this and #45 into the same patch. Should have a PR later tonight.

[2019-07-29 22:38] tparkercbn commented on #44
if you have a branch I can clone I can give it a test.

[2019-07-29 22:46] trevor-vaughan commented on #44
@tparkercbn https://github.com/trevor-vaughan/augeasproviders_grub/tree/boolean_fix

[2019-07-29 23:31] tparkercbn commented on #44
I'm getting very odd behaviour now.

1.
The boolean value is being "corrected" on every run but makes no changes to /etc/default/grub

Notice: /Stage[main]/Boot::Grub2/Grub_config[GRUB_DISABLE_OS_PROBER]/value: value changed '"true"' to 'true' (corrective)

2.  If the lines with spaces do not exist in the file at all:
Notice: /Stage[main]/Boot::Grub2/Grub_config[GRUB_TERMINAL]/ensure: created (cor

[2019-07-29 23:40] tparkercbn commented on #44
4.  If the boolean value does not exist, it gets added.  Then goes back into the loop as per 1 above.

[2019-07-30 01:34] trevor-vaughan commented on #44
I think I've isolated it in the acceptance tests. Will get those working and prod again when I can.

[2019-07-30 02:06] tparkercbn commented on #44
Sounds good!   I have a working config with the \" workaround for now.  Let me know if I can help with more testing.  I have an r10k environment setup to pull from your branch.

[2019-07-30 03:25] trevor-vaughan commented on #44
@tparkercbn Try again whenever you get a chance

[2019-07-30 14:57] tparkercbn commented on #44
Good morning.

I have been completely unable to get this to break no matter what I throw at it.

Thank you very much for the fixes, it's working perfectly.

[2019-08-16 20:01] tparkercbn opened #47 "Can the call to grub2-mkconfig be disableable?"
I use augeasproviders_grub to configure flash card images that contain a configured operating system including /etc/default/grub but that do not have grub or /boot/grub2/grub.cfg yet.  That gets installed at burn time when the OS image is actually written to disk.

Would it be possible to add an option to disable the execution of the grub2-mkconfig step so that I can have it skipped when running i

[2019-08-16 20:06] trevor-vaughan commented on #47
@tparkercbn Seems like a reasonable request. Not sure when anyone can get around to it but it's actually not a very big change.

Happy to point you to the code bits if you're up for working on it.

[2019-08-17 05:11] tparkercbn commented on #47
I'll give it a shot and submit a pull request.

The ruby and puppet code won't be a problem, where I run into issues is rspec tests.

Tom

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Trevor Vaughan <notifications@github.com>
Sent: Friday, August 16, 2019 4:06:47 PM
To: hercules-team/augeasproviders_grub <augeasproviders_grub@noreply.github.com>
Cc: Tom Pa

[2019-08-20 00:38] trevor-vaughan commented on #47
@tparkercbn That works. Just get things working and someone can help with the tests.

[2019-08-28 11:22] #44 closed

[2020-03-02 20:53] trevor-vaughan opened #49 "grub_menuentry is broken in EL8 and Fedora 30+"
EL8 and Fedora 30+ now use the `blscfg` module to load OS configurations from `/boot/loader/entries`. This means that we're going to have to fall back to `grubby` for systems that include this module in their `/etc/grub2.cfg` configuration until some method can be found to process this information without requiring `grubby`.

[2020-03-10 18:38] jcpunk commented on #49
Perhaps parsing `grubenv` would help?

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/managing_monitoring_and_updating_the_kernel/configuring-kernel-command-line-parameters_managing-monitoring-and-updating-the-kernel#what-are-boot-entries_configuring-kernel-command-line-parameters

[2020-03-11 14:25] trevor-vaughan commented on #49
@jcpunk I'm actually working on that now. Luckily, the new rewrite of `grubby` is in BASH so I've been able to reverse engineer things.

Unfortunately, it's kind of a hot mess under the hood and we're going to have to support both BLS and old entries to make this thing make any kind of sense.

Also, updating the root disk seems to update it for all BLS entries (it just keeps getting more fun).

[2020-03-18 20:58] trevor-vaughan commented on #49
@jcpunk PR is up if you want to take a look

[2020-03-19 15:43] jcpunk commented on #49
Excellent :)

[2020-03-23 13:33] #37 closed

[2020-03-23 13:33] #38 closed

[2020-03-23 13:33] #49 closed

[2020-04-01 18:29] cedws opened #51 "Ubuntu ESP grub.cfg config broken by grub-mkconfig"
On vanilla Ubuntu installs, the EFI GRUB config in `/boot/efi/EFI/ubuntu/grub.cfg` contains a stub GRUB config which loads the real config from `/boot/grub/grub.cfg`

On Ubuntu, the recommended way of updating GRUB configs after making changes is to run `update-grub` rather than `grub-mkconfig` directly. `update-grub` *only* updates the config located at `/boot/grub/grub.cfg` as far as I can tell.

[2020-04-07 14:51] linuxdan opened #52 "Debian 10 - kernel parameter does not work"
`kernel_parameter { 'quiet':
    ensure +. absent,
}`

And I still see it in /etc/default/grub and /boot/grub/grub.cfg

A debug puppet agent run says
Nothing to manage.  no ensure and the resource doesn't exist

[2020-04-23 15:59] aursu opened #53 "grub_menuentry resource fail if directory /boot/grub doe not exist"
Hello, there is a bug inside `grub2` provider for custom type `Grub_menuentry` which cause next behaviour:

[code]

Bug is inside this block of method `grub2_mkconfig`

[code]

if folder `/boot/grub` is not existing it will fail with

Errno::ENOENT: No such file or directory @ rb_sysopen - /boot/grub/grub.cfg

Please review and fix it

[2020-04-23 16:15] aursu opened #54 "Typo in provider grub for custom type grub_menuentry"
Please correct typo within line

[code]

Should be `Puppet::ExecutionFailure`

Thank you

[2020-04-24 15:40] trevor-vaughan commented on #53
@aursu This is an accurate error. Nothing can be done if the grub configuration is not present.

Would you prefer a more clean early bail out if no target files can be found?

[2020-04-24 16:01] #54 closed

[2020-04-24 17:21] aursu commented on #53
Hello, @trevor-vaughan

You are right. this issue should be categorised as feature request rather than bug

Let me explain. There is parameter `cfg_paths` for method `grub2_mkconfig`. It is defined as list of configuration files paths which all (without exceptions) must be writable. Otherwise block https://github.com/hercules-team/augeasproviders_grub/blob/316d74750a9c2f7674fdb9d5b8c85c6a7b2aaea3/

[2020-04-24 17:29] trevor-vaughan commented on #53
Interesting. It was tested primarily on CentOS systems!

I'll double check that the acceptance tests are picking it up and go from there.

[2020-04-24 21:05] trevor-vaughan commented on #53
@aursu Determined that this is a legit bug. The logic isn't quite right. Prodding and will push a patch when things are in order.

[2020-04-28 00:29] trevor-vaughan commented on #53
@aursu Can you try out the associated patch and let me know if it resolves your issue?

[2020-04-28 06:05] #53 closed

[2020-05-14 08:36] traylenator commented on #4
HI,

We just run into items related to this

So it's true that this module runs

[code]

if the file  `/boot/efi/EFI/redhat/grub.cfg` exists.

However if you are running booting with

[code]
then this file is not updated.

I had a look through what a kernel upgrade does which calls `/usr/sbin/new-kernel-pkg`.
In this case `grubby` is called to generate both files for UEFI or Bios mode.

So I belie

[2020-05-21 08:00] #4 closed

[2020-05-22 15:14] traylenator opened #58 "kernel_parameters set incorrectly on CentOS 8"
I realise the module does not currently claim to support CentoOS 8.

With centos8

/etc/default/grub

is no longer the way to specify kernel parameters and indeed grub2-mkconfig is no
longer the correct command to call.

From https://access.redhat.com/solutions/3710121 (paywall) suggests that

[code]
and

[code]
is the way to set consoleblank.

In reality this command maintains the files:

[code]

[2020-05-25 07:18] traylenator commented on #58
I see there is grubenv work in the `menu_config` type for some inspiration.

[2020-06-15 11:25] ssm commented on #35
If the grub_user is created only with the "password" parameter, and "superuser" parameter is added later, the user is not added to the list of superusers.

[2020-11-25 06:20] kenyon commented on #33
Looks like a duplicate of #40.

[2020-11-25 10:58] #34 closed

[2020-11-26 11:36] kenyon commented on #52
`quiet` is normally in `GRUB_CMDLINE_LINUX_DEFAULT`, so you have to also set `bootmode => default`, then this module works as expected:

[code]

[2020-11-26 11:45] kenyon commented on #52
Actually, the documentation seems to imply that doing simply as you stated, leaving `bootmode` at the default of `all`, and using `ensure => absent`, the parameter should be removed from both `GRUB_CMDLINE_LINUX_DEFAULT` and `GRUB_CMDLINE_LINUX`. So I think this is a bug.

[2020-12-16 14:32] trevor-vaughan commented on #58
@traylenator I'm currently doing a bit of testing and it looks like everything still works as expected as long as `GRUB_ENABLE_BLSCFG=true` in `/etc/default/grub`.

[2020-12-16 14:33] trevor-vaughan opened #63 "The mkconfig update in #4 needs to be ported to the other providers"
I'm working on moving this to the `Util` module and will provide a patch shortly.

[2020-12-16 15:16] traylenator commented on #58
@trevor-vaughan what do you mean by still works? It does edit files but when I tested a long time ago these are not used on reboot.

[2020-12-16 15:18] trevor-vaughan commented on #58
@traylenator The bug fix you added to run `mkconfig` on all files in `menuentry` needs to be ported to the other providers. Working on that now as part of #63

[2020-12-16 21:38] trevor-vaughan commented on #63
@jcpunk and @traylenator  Can you give the PR a whirl?

[2020-12-17 12:56] traylenator commented on #63
Do I need #60 and #58 ?

[2021-01-14 16:52] #63 closed

[2021-01-18 14:15] raphink commented on #33
Thanks @kenyon

[2021-01-18 14:15] #33 closed

[2021-02-08 20:32] chowbok commented on #58
Not to be a pest, but will the fix be put in anytime soon? We really need it for a RHEL 8 deploy.

[2021-02-17 09:57] raphink commented on #58
Which fix is that? I'm not sure there's a PR associated to that issue at the moment.

[2021-02-17 13:36] trevor-vaughan commented on #58
@raphink I'm assuming this one https://github.com/hercules-team/augeasproviders_grub/pull/64

[2021-03-25 07:21] traylenator commented on #58
So this is all fixed now assuming you are running 8.3.

Running with 8.1 or 8.2 results in a non bootable system.

[2021-03-25 07:21] #58 closed

[2021-07-23 10:47] olifre commented on #51
I observe the very same. It seems this was in parts broken by #57 , but already not fully correct for Debian before.

Note that #57 addresses this for RHEL systems by replacing all files, which is the wrong approach for Debian-based systems which use (and automatically update) only one file, and all other grub configurations are stubs referring to that one.

After https://github.com/hercules-team/

[2021-07-23 13:38] olifre commented on #51
Another approach could be to refer to the size of the files, e.g. by checking if the number of lines is larger than 5 lines — if it is not, this should be a stub configuration. For reference, on Debian I find:
[code]
This might be more resilient against other OS families adopting this pattern (since nothing with a `menuentry` will realistically be shorter than 5 lines, this should be quite safe).

[2021-07-23 16:25] olifre commented on #51
I've developed a patch based on this last idea in the branch at https://github.com/unibonn/puppet-augeasproviders_grub/tree/grubcfg-skip-stub-confs .
I'm currently testing this in various combinations of CentOS and Ubuntu / Debian in Legacy and BIOS boot and will open a PR in case I find no regressions.

[2021-07-23 16:38] cedws commented on #51
It's an interesting idea but doing it based on line count seems a bit fragile. I think it would be preferable to outright not touch the ESP config if the distro is Debian or Ubuntu.

[2021-07-23 16:47] olifre commented on #51
That's true, on the other hand, it might be more portable — the large list of files indicates the variety between the different OS's. If another OS switches to the "Debian model", the file length check would automatically do the correct thing, without having to maintain an OS family / edition / version list.

That's why I implemented this approach in the PR, and will test it in our configurations,

[2021-08-02 19:14] olifre commented on #51
I've now created PR #65  for the "detect stub file by length of file" approach.

Let's wait for the opinion of @trevor-vaughan and @traylenator on which approach seems most easiest to maintain and stable (I believe this is not obvious).

[2021-08-02 19:26] olifre commented on #51
@trevor-vaughan Indeed, that's why I am unsure what is the most stable solution — so input is very welcome. I tested the implementation I PRed with Debian 10 and CentOS 7 in legacy boot (whch should be unaffected either way) and then Debian 10 and Ubuntu 18.04 with EFI booting, all working fine.

[2021-08-02 19:29] trevor-vaughan commented on #51
@olifre Can you try it on CentOS 8.4? EL 8 made dramatic changes to how things are managed. Try using geneirc/centos8 via Vagrant.

[2021-08-02 19:51] olifre commented on #51
@trevor-vaughan I have also tested it on CentOS 8.4 with non-EFI boot, actually (hardware machines and VMs).
However, I don't have access to an EFI booting CentOS 8 machine right now (and I think the vagrant box also uses non-UEFI boot).

[2021-11-10 16:56] #41 closed

[2022-04-06 20:15] jcpunk opened #68 "Puppet 7 compatibility"
Can this module be updated for puppet7?

[2022-05-13 00:29] #5 closed

[2022-05-13 00:30] jhoblitt commented on #26
puppet 4 is long EOL.

[2022-05-13 00:30] #26 closed

[2022-05-13 00:31] jhoblitt commented on #24
PE 2016 is long EOL.

[2022-05-13 00:31] #24 closed

[2022-05-13 00:34] jhoblitt commented on #39
What I do is notify https://forge.puppet.com/modules/puppetlabs/reboot. Works great.

[2022-05-13 00:34] #39 closed

[2022-05-16 19:13] jhoblitt commented on #68
#66 will add puppet7 support.

[2022-08-16 14:51] jamesps-ebi opened #71 "Duplicate GRUB_CMDLINE entries if no kernel_parameter 'bootmode' is specified"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet-Server: 6.26.0
- Puppet-Agent: 6.28.0
- Distribution: Ubuntu 20.04.4
- Module version: 3.2.0

## How to reproduce (e.g Puppet code you use)
Using a puppet lookup with either 'deep', or 'hash' merge type (as below)
[code]

Specifying a kernel parameter in hiera without a specific 'bootmode' given, and also specifying some othe